# Binaries
vibe-lsm
/loadtest
*.test
col.test

# Data files
*.col

# Profile data
*.out
*.prof

# Profile visualizations
*.png

# Other temporary files
/profile_test.col
/test_parallel.col
/large_profile_test.col

# Test Data
/data/
